header{
  background-color: #212429;
  color: white;
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
header ul{
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
header a{
  color: white;
  padding:10px 20px;
  font-weight: bold;
}
#homeSection .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:100px;
  background-color: rgb(67, 67, 98);
  color: white;
}
#text{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px 100px ;


}
.imageSection {
  background-color: #3c5f9b;
}